# ─── SigmundTest API ─────────────────────────────────────────────────────────
# Vos credentials (consultant SigmundTest CI)
SIGMUND_CLIENT_ID=8937-6771-8414-4521
SIGMUND_BASE_URL=http://www.webservicesigmundtest.sigmundtest.com
SIGMUND_PRODUCT_CODE=25

# Pour les tests (product_code test = 15)
# SIGMUND_PRODUCT_CODE=15

# ─── Base de données ──────────────────────────────────────────────────────────
DATABASE_URL=postgresql://yira_user:yira_pass@localhost:5432/yira_db

# ─── Redis ────────────────────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─── JWT ──────────────────────────────────────────────────────────────────────
JWT_SECRET=yira_jwt_secret_change_en_production
JWT_EXPIRES_IN=7d

# ─── Africa's Talking ─────────────────────────────────────────────────────────
AT_API_KEY=votre_cle_africas_talking
AT_USERNAME=sandbox   # sandbox pour les tests, votre username en prod
AT_USSD_CODE=*7572#
AT_SMS_SHORTCODE=YIRA-CI

# ─── App ─────────────────────────────────────────────────────────────────────
NODE_ENV=development
PORT=3001
API_URL=http://localhost:3001
WEB_URL=http://localhost:3000
